table, td, th {
    border: 1px solid black;
      text-align: center;
      margin-top: 50px;
      
    
  }
  table {
    border-collapse: collapse;
    width: 80%;
    height: 100%;
    margin-left: 20px;
  }
   th {
    height: 70px;
  } 

  td {
    text-align: center;
    padding: 20px;
  }
  .table-responsive {
    height: calc(100vh - 280px);
    max-height: calc(100vh - 280px);
    overflow-y: auto;
  }
  
  
  .table-hover tbody tr:hover {
    background-color: rgba(237, 244, 252, 1);
    /* .grid-action-btn-hide {
      display: inline;
    } */
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

 
  .pagination {
    margin-left: 70px;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
  }
  .col-md-6{
    margin-top: 100px;
  }

  .colomnSearch{
    margin-left: 25px;
  }

  