<div class="sidenav"></div>
<form action="/action_page.php" method="post">
    
    <div class="imgcontainer" style="padding-left: 950px;">
        <img class="img-responsive" src="assets/2.png">
      </div>
    <div class="container" style="padding-left: 750px;">
        
      <label for="uname"><b>Username</b></label>
      <input type="text"  name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password"  name="psw" required>
          
      <button class="submit" routerLink="/table">Login</button>
   
</div>
  </form>